.Appli{

    .sidebar{
        width: 15%;
        height: 100vh;
        background-color: #191d2b;
        position: fixed;
    }

    .main-content{
        width: 85%;
        margin-left: 15%;
        background-color: #333;
        min-height: 100vh;
    }

    .footer{
        width: 100%;
        border-bottom: 1px solid #2e344e;
        p{
            text-emphasis: center;
            padding: 1rem 0;
        }
    }
}